<!DOCTYPE html>
<html>
<head>
    <title>Direcciones de Envío</title>
</head>
<body>
    <h1>Direcciones de Envío</h1>

    <a href="{% url 'direccion-crear' %}">Agregar Dirección</a>

    <table border="1">
        <tr>
            <th>Usuario</th>
            <th>Dirección</th>
            <th>Ciudad</th>
            <th>Código Postal</th>
            <th>Principal</th>
        </tr>

        {% for d in direcciones %}
        <tr>
            <td>{{ d.usuario.nombre }}</td>
            <td>{{ d.direccion }}</td>
            <td>{{ d.ciudad }}</td>
            <td>{{ d.codigo_postal }}</td>
            <td>{{ d.principal }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
